.post-image {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
}

.post-image img {
    width: 250px;
    max-width: 250px;
}

.post-container {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px 60px;
    margin: 10px auto;
    row-gap: 50px; 
}

.post-description {
    width: 100%;
    text-align: center;
    padding: 5px 30px;
}